{# based on: http://build.fhir.org/ig/dvci/vaccine-credential-ig/branches/main/Bundle-Scenario3Bundle.json.html #}
{
  "@context": [
    "https://www.w3.org/2018/credentials/v1",
    "https://schema.opencerta.org/proof",
    "https://schema.opencerta.org/fhir/202009"
  ],
  "type": ["VerifiableCredential", "FHIRCredential"],
  "id": "urn:uuid:{{ credential.id }}",
  "issuer": "https://issuers.{{baseUrl}}/{{certificate.authorityKeyIdentifier | trim}}/{{certificate.subjectKeyIdentifier | trim }}",
  "credentialSubject": {
    "type": "FHIRCredential",
    "id": "urn:uuid:{{ subject.id }}",
    "givenName": "{{ subject.formData.givenName | trim }}",
    {% if subject.formData.middleName and (subject.formData.middleName | trim) %}
    "additionalName": "{{ subject.formData.middleName | trim }}",
    {% endif -%}
    "familyName": "{{ subject.formData.familyName | trim }}",
    {% if subject.formData.birthDate %}
    "birthDate": "{{ subject.formData.birthDate | date('yyyy-MM-DD') }}",
    {% endif -%}
    {% if subject.formData.gender and (subject.formData.gender | trim) %}
    "gender": "{{ subject.formData.gender | trim }}",
    {% endif -%}
    {% if subject.formData.honorificPrefix and (subject.formData.honorificPrefix | trim) %}
    "honorificPrefix": "{{ subject.formData.honorificPrefix | trim }}",
    {% endif -%}
    {% if subject.formData.honorificSuffix and (subject.formData.honorificSuffix | trim) %}
    "honorificSuffix": "{{ subject.formData.honorificSuffix | trim }}",
    {% endif -%}
    {% if subject.formData.externalReference and (subject.formData.externalReference | trim) %}
    "identifier": "{{subject.formData.externalReference | trim}}",
    {% endif -%}
    "fhirVersion": "4.0.1",
    "fhirSource": {
      "resourceType": "Bundle",
      "id": "https://creds.magnacerta.com/{{ credential.id }}/bundle",
      "type": "collection",
      "entry": [
        {
            "fullUrl": "https://creds.magnacerta.com/{{ credential.id }}/bundle/resource/0",
            "resource": {
                "resourceType": "Patient",
                {% if (subject.formData.passportNumber and (subject.formData.passportNumber | trim)) and (subject.formData.driversLicense and (subject.formData.driversLicense | trim)) %}
                "identifier" : [
                    {
                    {% if subject.formData.nationality and (subject.formData.nationality | trim) %}
                    "extension" : [{
                        "url" : "http://hl7.org/fhir/StructureDefinition/patient-nationality",
                        "extension" : [{
                        "url" : "code",
                        "valueCodeableConcept" : {
                            "coding" : [{
                            "system" : "urn:iso:std:iso:3166",
                            "code" : "{{ subject.formData.nationality | trim}}"
                            }]
                        }
                        },
                        {
                        "url" : "period",
                        "valuePeriod" : {
                            "start" : "{{ credential.createdAt | date('yyyy-MM-DD') }}"
                        }
                        }]
                        }
                    {% if subject.formData.citizenshipState and (subject.formData.citizenshipState | trim) %}
                    ,
                    {
                        "url" : "http://hl7.org/fhir/StructureDefinition/patient-citizenship",
                        "extension" : [{
                        "url" : "code",
                        "valueCodeableConcept" : {
                            "coding" : [{
                            "system" : "urn:iso:std:iso:3166:-2",
                            "code" : "{{ subject.formData.citizenshipState | trim}}"
                            }]
                        }
                        },
                        {
                        "url" : "period",
                        "valuePeriod" : {
                            "start" : "{{ credential.createdAt | date('yyyy-MM-DD') }}"
                        }
                        }]
                        }
                    {% endif -%}
                    ],
                    {% endif -%}
                    "type": {
                        "coding": {
                        "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
                        "code": "PPN"
                        }
                    },
                    "value": "{{ subject.formData.passportNumber | trim }}"
                    },
                    {
                    {% if subject.formData.nationality and (subject.formData.nationality | trim) %}
                    "extension" : [{
                        "url" : "http://hl7.org/fhir/StructureDefinition/patient-nationality",
                        "extension" : [{
                        "url" : "code",
                        "valueCodeableConcept" : {
                            "coding" : [{
                            "system" : "urn:iso:std:iso:3166",
                            "code" : "{{ subject.formData.nationality | trim}}"
                            }]
                        }
                        },
                        {
                        "url" : "period",
                        "valuePeriod" : {
                            "start" : "{{ credential.createdAt | date('yyyy-MM-DD') }}"
                        }
                        }]
                        }
                    {% if subject.formData.citizenshipState and (subject.formData.citizenshipState | trim) %}
                    ,
                    {
                        "url" : "http://hl7.org/fhir/StructureDefinition/patient-citizenship",
                        "extension" : [{
                        "url" : "code",
                        "valueCodeableConcept" : {
                            "coding" : [{
                            "system" : "urn:iso:std:iso:3166:-2",
                            "code" : "{{ subject.formData.citizenshipState | trim}}"
                            }]
                        }
                        },
                        {
                        "url" : "period",
                        "valuePeriod" : {
                            "start" : "{{ credential.createdAt | date('yyyy-MM-DD') }}"
                        }
                        }]
                        }
                    {% endif -%}
                    ],
                    {% endif -%}
                    "type": {
                        "coding": {
                        "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
                        "code": "DL"
                        }
                    },
                    "value": "{{ subject.formData.driversLicense | trim }}"
                    }
                ],
                {% elif subject.formData.passportNumber and (subject.formData.passportNumber | trim) %}
                "identifier" : [
                    {
                    {% if subject.formData.nationality and (subject.formData.nationality | trim) %}
                    "extension" : [{
                        "url" : "http://hl7.org/fhir/StructureDefinition/patient-nationality",
                        "extension" : [{
                        "url" : "code",
                        "valueCodeableConcept" : {
                            "coding" : [{
                            "system" : "urn:iso:std:iso:3166",
                            "code" : "{{ subject.formData.nationality | trim}}"
                            }]
                        }
                        },
                        {
                        "url" : "period",
                        "valuePeriod" : {
                            "start" : "{{ credential.createdAt | date('yyyy-MM-DD') }}"
                        }
                        }]
                        }
                    {% if subject.formData.citizenshipState and (subject.formData.citizenshipState | trim) %}
                    ,
                    {
                        "url" : "http://hl7.org/fhir/StructureDefinition/patient-citizenship",
                        "extension" : [{
                        "url" : "code",
                        "valueCodeableConcept" : {
                            "coding" : [{
                            "system" : "urn:iso:std:iso:3166:-2",
                            "code" : "{{ subject.formData.citizenshipState | trim}}"
                            }]
                        }
                        },
                        {
                        "url" : "period",
                        "valuePeriod" : {
                            "start" : "{{ credential.createdAt | date('yyyy-MM-DD') }}"
                        }
                        }]
                        }
                    {% endif -%}
                    ],
                    {% endif -%}
                    "type": {
                        "coding": {
                        "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
                        "code": "PPN"
                        }
                    },
                    "value": "{{ subject.formData.passportNumber | trim }}"
                    }
                ],
                {% elif subject.formData.driversLicense and (subject.formData.driversLicense| trim) %}
                "identifier" : [
                    {
                    {% if subject.formData.nationality and (subject.formData.nationality | trim) %}
                    "extension" : [{
                        "url" : "http://hl7.org/fhir/StructureDefinition/patient-nationality",
                        "extension" : [{
                        "url" : "code",
                        "valueCodeableConcept" : {
                            "coding" : [{
                            "system" : "urn:iso:std:iso:3166",
                            "code" : "{{ subject.formData.nationality | trim}}"
                            }]
                        }
                        },
                        {
                        "url" : "period",
                        "valuePeriod" : {
                            "start" : "{{ credential.createdAt | date('yyyy-MM-DD') }}"
                        }
                        }]
                        }
                    {% if subject.formData.citizenshipState and (subject.formData.citizenshipState | trim) %}
                    ,
                    {
                        "url" : "http://hl7.org/fhir/StructureDefinition/patient-citizenship",
                        "extension" : [{
                        "url" : "code",
                        "valueCodeableConcept" : {
                            "coding" : [{
                            "system" : "urn:iso:std:iso:3166:-2",
                            "code" : "{{ subject.formData.citizenshipState | trim}}"
                            }]
                        }
                        },
                        {
                        "url" : "period",
                        "valuePeriod" : {
                            "start" : "{{ credential.createdAt | date('yyyy-MM-DD') }}"
                        }
                        }]
                        }
                    {% endif -%}
                    ],
                    {% endif -%}
                    "type": {
                        "coding": {
                        "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
                        "code": "PPN"
                        }
                    },
                    "value": "{{ subject.formData.driversLicense | trim }}"
                    }
                ],
                {% endif -%}
                {% if subject.formData.mobilePhone and (subject.formData.mobilePhone | trim) %}
                "telecom": [{
                    "system": "phone",
                    "value": "{{ subject.formData.mobilePhone | trim }}",
                    "use": "mobile"
                }],
                {% endif -%}
                {% if subject.formData.birthDate %}
                "birthDate": "{{ subject.formData.birthDate | date('yyyy-MM-DD') }}",
                {% endif -%}
                "name": [{
                    "family": "{{ subject.formData.familyName | trim }}",
                    "given": ["{{ subject.formData.givenName | trim }}"{% if subject.formData.middleName | trim %}, "{{ subject.formData.middleName | trim }}"{% endif %}]
                }],
                "gender": "{% if subject.formData.gender and (subject.formData.gender | trim) %}{{ subject.formData.gender | trim }}{% else %}unknown{% endif %}"
            }
        },
        {
            "fullUrl": "https://creds.magnacerta.com/{{ credential.id }}/bundle/resource/1",
            "resource": {
                "resourceType": "Observation",
                "status": "final",
                "category": [{
                    "coding": [{
                    "system": "http://terminology.hl7.org/CodeSystem/observation-category",
                    "code": "laboratory"
                    }]
                }],
                {# https://loinc.org/94661-6/ - SARS-CoV-2 (COVID-19) Ab [Interpretation] in Serum or Plasma #}
                "code": {
                    "coding": [{
                    "system": "http://loinc.org",
                    "code": "94661-6"
                    }]
                },
                "subject": {
                    "reference": "https://creds.magnacerta.com/{{ credential.id }}/bundle/resource/0"
                },
                {% if subject.formData.sampleDate %}
                "effectiveDateTime": "{{ subject.formData.sampleDate | isodate }}",
                {% endif -%}
                "performer": [{
                    "display": "{{ digitalPen.legalName }}"
                }],
                {% if (subject.formData.observation | trim | lower)  == "positif" %}
                {# https://phinvads.cdc.gov/vads/http:/phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=260373001 #}
                "valueCodeableConcept": {
                    "coding": [{
                    "system": "http://snomed.info/sct",
                    "code": "260373001"
                    }]
                }
                {% elif (subject.formData.observation | trim | lower) == "negatif" %}
                {# https://phinvads.cdc.gov/vads/http:/phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=260415000 #}
                "valueCodeableConcept": {
                    "coding": [{
                    "system": "http://snomed.info/sct",
                    "code": "260415000"
                    }]
                }
                {% else %}
                {# https://phinvads.cdc.gov/vads/http:/phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=276727009 #}
                "valueCodeableConcept": {
                    "coding": [{
                    "system": "http://snomed.info/sct",
                    "code": "276727009"
                    }]
                }
                {% endif -%}
            }
        }]
    }
  },
  "credentialSchema": {
    "id": "https://schemas.uat.magnacerta.io/tcp/ab-tst/202104",
    "type": "JsonSchemaValidator2018"
  }
}
